
<c-alert color="success"
        (visibleChange)="onVisibleChange($event)"
        [visible]="visible"
        dismissible>Dato guardado correctamente!</c-alert>
<form #customStylesForm="ngForm"
      (ngSubmit)="onSubmit1()"
      [gutter]="3"
      [validated]="customStylesValidated"
      novalidate
      cForm cRow
      class="needs-validation"
>
  <c-col [md]="6">
    <label cLabel for="validationCustom03">Nombre del Grupo</label>
    <input cFormControl id="validationCustom03" required type="text" name="grupo" [(ngModel)]="grupo"/>
    <c-form-feedback [valid]="false">Por favor proporcione un nombre.</c-form-feedback>
  </c-col>
  <c-col [xs]="12">
    <button cButton class="me-1" color="primary" type="submit" [disabled]="!customStylesForm.valid">
      Guardar
    </button>
    <button (click)="onReset1()" cButton color="secondary" type="reset">
      Limpiar
    </button>
  </c-col>
</form>

<br>
<br>
<h1>Datos del grupo</h1>
<table cTable>
  <thead>
  <tr>
    <th scope="col">Nombre del grupo</th>
    <th scope="col">Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr [cTableActive]="true" *ngFor="let item of items | paginate: { itemsPerPage: pageSize, currentPage: p }">
    <td>{{item.nombre}}</td>
    <td>
      <button (click)="eliminar(item.idGrupo)" cButton color="danger" type="submit">
        Eliminar
      </button>
    </td>
  </tr>
  </tbody>
</table>


<pagination-controls style="text-align: center;" (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>

<c-toaster [placement]="position" class="p-3" position="fixed">
  <c-toast
    (timer)="onTimerChange($event)"
    (visibleChange)="onVisibleChange($event)"
    [visible]="visible">
    <c-toast-header>
      <toast-sample-icon></toast-sample-icon>
      El producto se esta guardando
    </c-toast-header>
    <c-toast-body>
      <p>Guardando...</p>
      <c-progress thin>
        <c-progress-bar [value]="percentage"></c-progress-bar>
      </c-progress>
    </c-toast-body>
  </c-toast>
</c-toaster>

